.position{
	position: absolute;
    top: 200px;
    width: 230px;
    left: 0;
}
.position li{
	float: none;
	border-radius: 5px;
}
.position li:hover{
	
}
.position li a:hover{
	background:#796AEE !important;
	color:#fff !important;
	border-radius: 5px;
}
.rights{
	margin-left: 230px;
}
.imageser{
	padding: 30px 65px;
    position: absolute;
    left: 0;
    top: 70px;
}
.navbar-default {
	background:#2f333e;
    padding: 9px 0;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.box_12{
    margin-left: 230px;
    height: 80px;
	border-bottom: 1px #ccc solid;
    box-shadow: 0px 2px 1px #ccc;
}
.box_12 h1{
	margin: 0;
    height: 80px;
    line-height: 80px;
    float: left;
    color: #d5d6e2;
	padding-left: 30px;
}
.parent12{
	float: right;
    margin: 20px 200px;
	position:relative;
}
.search12{
	width: 300px;
    height: 40px;
    border: 2px solid #756ee6;
    border-radius: 5px;
    padding-left: 10px;
}
.btn12{
	width: 42px;
    position: absolute;
    height: 40px;
    border: none;
    background: #756ee6;
    border-radius: 0 5px 5px 0;
    top: 0;
    right: 0;
}

#mainNav{
	
}
.box_13{
	margin-left: 230px;
    height: 60px;
}
.box_13 p{
	height: 60px;
    line-height: 60px;
    color: #aaa;
    font-weight: 300;
    font-size: 21px;
    padding-left: 60px;
}




















